@charset "UTF-8";
@font-face {
  font-family: "PT Root UI";
  font-weight: normal;
  font-style: normal;
  src: local("PT Root UI"), url("../fonts/PT Root UI_Regular.eot");
  src: local("PT Root UI"), url("../fonts/PT Root UI_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PT Root UI_Regular.woff") format("woff"), url("../fonts/PT Root UI_Regular.woff2") format("woff2"), url("../fonts/PT Root UI_Regular.ttf") format("truetype"), url("../fonts/PT Root UI_Regular.svg") format("svg");
}
@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  font-style: normal;
  src: local("PT Root UI"), url("../fonts/PT Root UI_Bold.eot");
  src: local("PT Root UI"), url("../fonts/PT Root UI_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PT Root UI_Bold.woff") format("woff"), url("../fonts/PT Root UI_Bold.woff2") format("woff2"), url("../fonts/PT Root UI_Bold.ttf") format("truetype"), url("../fonts/PT Root UI_Bold.svg") format("svg");
}
@font-face {
  font-family: "PT Root UI";
  font-weight: 300;
  font-style: normal;
  src: local("PT Root UI"), url("../fonts/PT Root UI_Light.eot");
  src: local("PT Root UI"), url("../fonts/PT Root UI_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PT Root UI_Light.woff") format("woff"), url("../fonts/PT Root UI_Light.woff2") format("woff2"), url("../fonts/PT Root UI_Light.ttf") format("truetype"), url("../fonts/PT Root UI_Light.svg") format("svg");
}
@font-face {
  font-family: "PT Root UI";
  font-weight: 500;
  font-style: normal;
  src: local("PT Root UI"), url("../fonts/PT Root UI_Medium.eot");
  src: local("PT Root UI"), url("../fonts/PT Root UI_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PT Root UI_Medium.woff") format("woff"), url("../fonts/PT Root UI_Medium.woff2") format("woff2"), url("../fonts/PT Root UI_Medium.ttf") format("truetype"), url("../fonts/PT Root UI_Medium.svg") format("svg");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Root UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #142558;
  background-color: #F5F8FA;
}

.container {
  width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
}

.btn-default {
  box-sizing: border-box;
  min-width: 100px;
  border: 2px solid #E3E8F0;
  background: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: #343e5c;
  cursor: pointer;
}

.btn-default:hover:enabled {
  border-color: #F24841;
  color: #F24841;
}

.btn-default:active:enabled {
  border-color: #DB2D25;
  color: #DB2D25;
}

.btn-default:disabled {
  color: #A1A8BD;
}

.section-title {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  color: #142558;
  letter-spacing: 0.001em;
}

.header {
  padding-top: 12px;
  background-color: #FFFFFF;
}

.header-top-wrapper {
  margin-bottom: 16px;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 170px;
  margin-right: 31px;
  display: flex;
  align-items: flex-start;
}

.header-content {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-content a {
  font-size: 14px;
  color: #343e5c;
  text-decoration: none;
}

.header-logo__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 10px;
}

.header-logo__title {
  position: relative;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #1f1d3d;
}

.header-logo__title:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;
  width: 86px;
  height: 2px;
  background-color: #1f1d3d;
}

.header-logo__title:after {
  content: "";
  position: absolute;
  top: 17px;
  left: -2px;
  width: 86px;
  height: 2px;
  background-color: #1f1d3d;
}

.header-logo__slogan {
  margin-top: 6px;
  font-size: 12px;
  color: #A1A8BD;
  line-height: 1.3;
}

.header-phone {
  padding-left: 23px;
  position: relative;
  font-weight: 700;
  color: #343e5c;
  text-decoration: none;
}

.header-phone:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 13px;
  height: 13px;
  background: url("../img/phone.png") no-repeat;
}

.header-in {
  position: relative;
  padding: 8px 25px 8px 41px;
  border: 2px solid #E3E8F0;
  border-radius: 5px;
  margin-left: 66px;
}

.header-in:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 24px;
  width: 12px;
  height: 12px;
  background: url("../img/user.png") no-repeat;
}

.header-basket {
  margin-left: 123px;
}

.header-basket__title {
  position: relative;
  margin-right: 10px;
}

.header-basket__title:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  width: 18px;
  height: 17px;
  background: url("../img/basket.png") no-repeat;
}

.header-basket__count {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.005em;
}

.header-status {
  position: relative;
}

.header-status:after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: -23px;
  width: 5px;
  height: 7px;
  background: url("../img/arrow-right.png") no-repeat 55% 50%;
  padding: 5px;
  border: 2px solid #E3E8F0;
  border-radius: 50%;
}

.header-status:hover {
  color: #F54732;
}

.header-status:hover:after {
  background: url("../img/arrow-right-red.png") no-repeat 55% 50%;
}

.header-bottom-wrapper {
  border-top: 1px solid #F0F2F7;
  border-bottom: 1px solid #F0F2F7;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header-navigation__item {
  margin-right: 30px;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;
}

.header-navigation__item:last-child {
  margin-right: 0;
}

.header-navigation__item a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #142558;
}

.header-navigation__item a:hover {
  color: #F54732;
}

.header-navigation__item.header-navigation__item--current {
  color: #142558;
  border-bottom: 3px solid #F54732;
}

.header-search__input {
  width: 331px;
  border: none;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #A1A8BD;
  padding: 19px 20px 18px 20px;
  border-left: 1px solid #F0F2F7;
  border-right: 1px solid #F0F2F7;
}

.header-search__btn {
  position: relative;
  border: none;
  background: transparent;
  width: 15px;
  height: 15px;
  margin-right: 18px;
}

.header-search__btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background: url("../img/search.png") no-repeat;
  cursor: pointer;
}

.section-name {
  background-color: #FFFFFF;
  margin-bottom: 48px;
}
.section-name__wrapper {
  background: url("../img/section-bg.png") no-repeat 90.8% -21%;
}
.section-name__title {
  padding-top: 80px;
  padding-bottom: 104px;
}

.bar__wrapper {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}
.bar__price {
  display: flex;
  align-items: center;
}
.bar__right {
  display: flex;
  margin-left: auto;
  margin-right: 32px;
}
.bar__title {
  font-size: 14px;
  line-height: 1.714;
  color: #142558;
  margin-left: 33px;
  margin-right: 20px;
  letter-spacing: 0.08em;
  padding: 36px 0;
}
.bar__range {
  position: relative;
  margin-bottom: 12px;
}
.bar__range-item {
  border: 2px solid #E3E8F0;
  box-sizing: border-box;
  width: 88px;
  padding: 4px 9px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.714;
  color: #142558;
}
.bar__range-min {
  margin-right: 31px;
}
.bar__range:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 98px;
  width: 15px;
  height: 2px;
  background-color: #142558;
}
.bar__scale {
  position: relative;
}
.bar__scale:after {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  width: 209px;
  height: 3px;
  background-color: #E3E8F0;
}
.bar__scale-line {
  position: relative;
  z-index: 1;
}
.bar__scale-line:after {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #F54732;
}
.bar__scale-item {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  border: 1px solid #E3E8F0;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  z-index: 2;
}
.bar__scale-min {
  left: 0;
}
.bar__scale-max {
  left: 50%;
}
.bar__select {
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #142558;
}

.По_наимено_анию {
  font-size: 16px;
  font-family: "PTRootUI";
  color: #142558;
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  left: 836.937px;
  top: 464.509px;
  width: 134px;
  height: 13px;
  z-index: 231;
}

.catalog {
  margin-bottom: 40px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  margin: 30px 15px;
  background-color: #FFFFFF;
  width: calc(25% - 30px);
  min-height: 384px;
  border-radius: 5px;
}
.catalog__item-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}
.catalog__item-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.catalog__item-img {
  max-height: 100%;
  width: auto;
}
.catalog__item-title {
  margin: 0;
  margin-bottom: 10px;
  flex-grow: 1;
  font-size: 16px;
  color: #142558;
  max-width: 200px;
  text-align: center;
}
.catalog__item-price {
  margin: 0;
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 700;
  color: #142558;
}
.catalog__item-btn {
  margin-bottom: 39px;
}
.catalog__item a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
  width: 100%;
}
.catalog__item:hover {
  box-shadow: 0px 9px 21px 0px rgba(168, 172, 185, 0.44);
}
.catalog__banner {
  background: #C9D6E0 url("../img/banner.jpg") no-repeat;
  background-size: cover;
  width: calc(50% - 30px);
  min-height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalog__banner-wrapper {
  padding-left: 40px;
}
.catalog__banner-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 700;
  color: #142558;
  letter-spacing: 0.001em;
}
.catalog__banner-btn {
  border-color: #ACBCCA;
}

@media (max-width: 1024px) {
  .catalog__item {
    width: calc(33.3% - 30px);
  }
  .catalog__banner {
    width: calc(100% - 30px);
    background-image: url("../img/banner-big.jpg");
  }
}
@media (max-width: 768px) {
  .catalog__item {
    width: calc(100% - 30px);
    min-height: 152px;
  }
  .catalog__item a {
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
  }
  .catalog__item-top {
    width: 130px;
    height: 140px;
  }
  .catalog__item-bottom {
    flex-grow: 0;
    align-items: flex-start;
  }
  .catalog__item-title {
    margin-top: 27px;
  }
  .catalog__item-img {
    width: 100%;
  }
  .catalog__banner {
    width: calc(100% - 30px);
    background-image: url("../img/banner-sm.jpg");
    min-height: 316px;
  }
  .catalog__banner-title {
    font-size: 24px;
  }
  .catalog__banner-wrapper {
    padding-left: 23px;
  }
}
.arrow, .pagination__end:after, .pagination__end:before, .pagination__next:before, .pagination__start:after, .pagination__start:before, .pagination__prev:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 10px;
  top: 50%;
  left: 50%;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__btn {
  position: relative;
  height: 10px;
  background: transparent;
  border: none;
  padding: 22px;
  border-radius: 50%;
  border: 2px solid #E3E8F0;
  cursor: pointer;
}
.pagination__prev {
  width: 6px;
  margin-left: 13px;
}
.pagination__prev:before {
  transform: translate(-50%, -50%);
  background: url("../img/prev-icon.svg");
}
.pagination__prev:hover:before {
  background: url("../img/prev-icon-red.svg");
}
.pagination__start {
  width: 12px;
}
.pagination__start:before {
  transform: translate(-100%, -50%);
  background: url("../img/prev-icon.svg");
}
.pagination__start:after {
  transform: translate(0, -50%);
  background: url("../img/prev-icon.svg");
}
.pagination__start:hover:before {
  background: url("../img/prev-icon-red.svg");
}
.pagination__start:hover:after {
  background: url("../img/prev-icon-red.svg");
}
.pagination__next {
  width: 6px;
  margin-right: 13px;
}
.pagination__next:before {
  transform: translate(-50%, -50%);
  background: url("../img/next-icon.svg");
}
.pagination__next:hover:before {
  background: url("../img/next-icon-red.svg");
}
.pagination__end {
  width: 12px;
}
.pagination__end:before {
  transform: translate(0, -50%);
  background: url("../img/next-icon.svg");
}
.pagination__end:after {
  transform: translate(-100%, -50%);
  background: url("../img/next-icon.svg");
}
.pagination__end:hover:before {
  background: url("../img/next-icon-red.svg");
}
.pagination__end:hover:after {
  background: url("../img/next-icon-red.svg");
}
.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination__item {
  margin-left: 15px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.pagination__item a {
  text-decoration: none;
  font-size: 14px;
  color: #142558;
}
.pagination__item a:hover {
  color: #F24841;
}
.pagination__item--current {
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 9px 18px 0px rgba(168, 172, 185, 0.53);
}
.pagination__item--current a {
  color: #F24841;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .container {
    width: 739px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 290px;
  }
}

/*# sourceMappingURL=style.css.map */
