@import "fonts";

// color
$grey-main: #A1A8BD;
$grey-light: #F0F2F7;
$grey-medium: #E3E8F0;

$red-main: #F54732;
$red-light: #F24841;
$red-medium: #E93D35;
$red-dark: #DB2D25;

$blue-main: #142558;
$blue-medium: #343e5c;
$color-dark: #1f1d3d;

$background-white: #FFFFFF;
$background-light: #F5F8FA;

// font-size
$size-default: 16px;
$size-medium: 14px;
$size-logo: 13px;
$size-top: 12px;
$size-small: 11px;

// line-height
$line-main: 1.2;
$line-medium: 1.3;
$line-secondary: 1.5;

// letter-spacing
$letter-default: 0.01em;
$letter-small: 0.005em;
$letter1: 0.1em;
$letter13: 0.13em;

* {
  /*outline: 1px solid red;*/
}

body {
  /*min-width: 1170px;*/
  margin: 0;
  padding: 0;
  font-family: "PT Root UI", Arial, sans-serif;
  font-size: $size-default;
  line-height: $line-main;
  letter-spacing: $letter-default;
  color: $blue-main;
  background-color: $background-light;
}
.container {
  width: 1170px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
.btn-default {
  box-sizing: border-box;
  min-width: 100px;
  border: 2px solid $grey-medium;
  background: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: $size-medium;
  font-weight: 700;
  line-height: $line-main;
  color: $blue-medium;
  cursor: pointer;
}
.btn-default:hover:enabled {
  border-color: $red-light;
  color: $red-light;
}
.btn-default:active:enabled {
  border-color: $red-dark;
  color: $red-dark;
}
.btn-default:disabled {
  color: $grey-main;
}
.header {
  padding-top: 12px;
  background-color: $background-white;
}
.header-top-wrapper {
  margin-bottom: 16px;
}
.header-top{
  display: flex;
  align-items: center;
}
.header-logo {
  width: 170px;
  margin-right: 31px;
  display: flex;
  align-items: flex-start;
}
.header-content {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-content a {
  font-size: $size-medium;
  color: $blue-medium;
  text-decoration: none;
}
.header-logo__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 10px;
}
.header-logo__title {
  position: relative;
  font-size: $size-logo;
  font-weight: 700;
  letter-spacing: $letter13;
  text-transform: uppercase;
  color: $color-dark;
}
.header-logo__title:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;
  width: 86px;
  height: 2px;
  background-color: $color-dark;
}
.header-logo__title:after {
  content: "";
  position: absolute;
  top: 17px;
  left: -2px;
  width: 86px;
  height: 2px;
  background-color: $color-dark;
}
.header-logo__slogan {
  margin-top: 6px;
  font-size: $size-top;
  color: $grey-main;
  line-height: $line-medium;
}
.header-phone {
  padding-left: 23px;
  position: relative;
  font-weight: 700;
  color: $blue-medium;
  text-decoration: none;
}
.header-phone:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 13px;
  height: 13px;
  background: url("../img/phone.png") no-repeat;
}
.header-in {
  position: relative;
  padding: 8px 25px 8px 41px;
  border: 2px solid $grey-medium;
  border-radius: 5px;
  margin-left: 66px;
}

.header-in:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 24px;
  width: 12px;
  height: 12px;
  background: url("../img/user.png") no-repeat;
}
.header-basket {
  margin-left: 123px;
}
.header-basket__title {
  position: relative;
  margin-right: 10px;
}
.header-basket__title:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  width: 18px;
  height: 17px;
  background: url("../img/basket.png") no-repeat;
}
.header-basket__count {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: $size-small;
  letter-spacing: $letter-small;
}
.header-status {
  position: relative;
}
.header-status:after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: -23px;
  width: 5px;
  height: 7px;
  background: url("../img/arrow-right.png") no-repeat 55% 50%;
  padding: 5px;
  border: 2px solid $grey-medium;
  border-radius: 50%;
}
.header-status:hover {
  color: $red-main;
}
.header-status:hover:after {
  background: url("../img/arrow-right-red.png") no-repeat 55% 50%;
}
.header-bottom-wrapper {
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.header-navigation__item{
  margin-right: 30px;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;
}
.header-navigation__item:last-child {
  margin-right: 0;
}
.header-navigation__item a {
  font-size: $size-top;
  font-weight: 700;
  letter-spacing: $letter1;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue-main;
}
.header-navigation__item a:hover {
  color: $red-main;
}
.header-navigation__item.header-navigation__item--current{
  color: $blue-main;
  border-bottom: 3px solid #F54732;
}

.header-search__input {
  width: 300px;
  border: none;
  font-size: $size-default;
  line-height: $line-main;
  letter-spacing: $letter-default;
  color: $grey-main;
  padding: 10px 10px 10px 10px;
}
.header-search__btn {
  position: relative;
  border: none;
  background: transparent;
  width: 15px;
  height: 15px;
  margin-right: 18px;
}
.header-search__btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background: url("../img/search.png") no-repeat;
  cursor: pointer;
}
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  display: flex;
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 270px;
  background-color: $background-white;
}
.catalog-item a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
}
.catalog-item:hover {
  box-shadow: 0px 9px 21px 0px rgba(168, 172, 185, 0.44);
}

.catalog-item-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}
.catalog-item-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.catalog-item__img {
  max-height: 100%;
  width: auto;
}
.catalog-item__title {
  margin: 0;
  margin-bottom: 13px;
  flex-grow: 1;
  font-size: 16px;
  color: $blue-main;
  max-width: 200px;
  text-align: center;
}
.catalog-item__price {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  color: $blue-main;
}
.catalog-item__btn {
  margin-bottom: 39px;
}




